.modal{
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  font-family: "Open sans", "Arial", sans-serif;
}

.modal-layout{
  background-color: black;
  position: fixed;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.modal-window{
  position: fixed;
  z-index: 3;
  width: 390px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px 50px 30px;
}

.modal-window::before{
  content: "";
  background-image: url(../svg/form-x.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
  top:-30px;
  left: 370px;
  z-index: 2;
}

.modal-heading{
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 28px;
}

.modal-heading::after{
  content: "";
  display: block;
  background-color: #b59f5b;
  opacity: 0.4;
  width: 65px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.modal-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-select{
  width:100%;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  background-color: #f3f7f6;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  cursor: pointer;
}

.modal-select:focus{
  outline: 5px solid #b59f5b;
  cursor: pointer;
}

.modal-form::before{
  content: "";
  -webkit-mask: url(../svg/form-arrows.svg);
  mask: url(../svg/form-arrows.svg);
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #b59f5b;
  mask-repeat: no-repeat;
  position: absolute;
  width: 10px;
  height: 18px;
  top: 172px;
  right: 50px;
  z-index: 8;
}

.radio-group{
  display: inline-block;
  margin-top: 5px;
}

.radio-group-text::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.radio{
  position: absolute;
  visibility: visible;
  opacity: 0;
  width: 80px;
  height: 25px;
}

.radio:checked ~ .radio-group-text::before{
  background-image: url(../svg/form-circle.svg);
}

.modal-text {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 300px;
  min-height: 60px;
  margin-top: 10px;
  margin-bottom: 25px;
  height: 130px;
  padding: 15px;
  border: none;
  background-color: #f3f7f6;
  font-family: inherit;
}

.modal-text:focus{
  outline: 5px solid #b59f5b;
}

.modal-radio-group{
  margin-top: 10px;
  margin-bottom: 25px;
}

.modal-button{
  width: 100%;
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #b59f5b;
  border: none;
  font-size:14px;
  text-transform: uppercase;
  font-weight:bold;
  color: #ffffff;
}

.modal-button:hover{
  font-size:18px;
  cursor:pointer;
}

@media (max-width: 640px){
  .radio-group-text::before {
    background-size: 30px;
    width: 30px;
    height: 30px;
  }

  .modal-window::before{
    width: 30px;
    height: 30px;
    left: 360px;
    top: -40px;
  }
  .modal-form::before {
    top: 170px;
    left: 85%;
  }
}

@media (max-width: 430px){
  .modal-window{
    width: 96%;
    margin: 0;
    padding: 4%;
  }
  .modal-form{
    width: 100%;
  }
  .modal-window::before{
    left: 90%;
  }
  .modal-heading {
    margin-top: 5px;
  }
  .modal-form::before {
    top: 160px;
    left: 85%;
  }
}